.feature-card{
    background-color: rgb(251, 240, 240);
    width: 320px;
    padding: 20px;
    border-radius:10px ;
    box-shadow: 0 0 10px #805a83;
    cursor: pointer;
}
.feature-card:hover{
    transform: translateY(-6px);
    transition: 0.4s;
}
.feature-img{
    height: 80px;
    display: block;
    margin: 22px auto;
}
.feature-text{
    font-size: 15px;
    text-align: center;
    color: #da8d5a;
}
.feature-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 50px;
}
@media screen and (max-width :500px){
    .feature-card{
        margin-top: 20px;
        padding: 18px;
    }
    .feature-img{
        height: 40px;
        display: block;
        margin: 10px auto;
    }
    .feature-text{
        font-size: 13px;
    }
}