body {
  margin: 0;
  padding: 20px 50px ;
  background-color: #FEFBD8;
}
.text-center{
  text-align: center;
}
.text-primary{
  color: #886d8a;
}
.text-secondary{
  color:#000000;
}
.text-gray{
  color: rgb(175, 172, 172);
}
.highlight{
  background-color:rgb(229, 220, 208);
}
.btn{
  margin: 20px;
  min-width: 150px;
  padding: 10px  10px ;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn-primary{
  background-color: #886d8a;
  color: white;
}
.btn-primary:hover{
  background-color:#cba5ef ;
  color: #000;
}
.btn-secondary{
  background-color: #e59d6e;
  color: white;
}
.btn-secondary:hover{
  background-color:#f1cfb9 ;
  color: #000;
}
@media screen and (max-width:500px) {
  .btn{
    margin: 10px;
    min-width: 100px;
    padding: 5px;
  }
  body{
    padding: 5px 10px;
  } 
}